{
  "{{ui5lab.parameters.namespace.value}}": {
    "icon": "sap-icon://activate",
    "name": "{{ui5lab.parameters.namespace.value}} library",
    "description": "A library {{ui5lab.parameters.namespace.value}}",
    "source" : "<github>",
    "documentation": "github readme",
    "license": "MIT",
    "version": 1.0,
    "content": {
      "{{ui5lab.parameters.name.value}}Sample": {
        "id": "{{ui5lab.parameters.name.value}}Sample",
        "name": "{{ui5lab.parameters.name.value}} Sample",
        "type": "control",
        "version": 1.0,
        "description": "{{ui5lab.parameters.name.value}} Sample",
        "samples": [
          {
            "id": "{{ui5lab.parameters.name.value}}Sample",
            "name": "{{ui5lab.parameters.name.value}} Sample",
            "description": "{{ui5lab.parameters.name.value}} Sample"
          }
        ]
      }
    }
  }
}